%p#notice= notice

.message-area
	%p= @message.text
	=button_to "Listen", @message.voice_link, :method => :post
	%p= @message.voice_link

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
